body {
	perspective: 1200px;
}

.lifang {

	width: 400px;
	height: 400px;
	position: relative;
	transform-style: preserve-3d;
	transition: all 5s;
}
.lifang:hover {
	transform: rotate3d(1,1,1,360deg);
}

.page {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.9;
}

.front {
	background-image: url(../img/1.jpg);
	background-size: 100%;
	transform: translateZ(200px);
}

.back {
	background-image: url(../img/2.jpg);
	background-size: 100%;
	transform: translateZ(-200px);
}

.right {
	background-image: url(../img/3.jpeg);
	background-size: 100%;
	transform: rotateY(90deg) translateZ(200px);
}

.left {
	background-image: url(../img/4.jpg);
	background-size: 100%;
	transform: rotateY(-90deg) translateZ(200px);
}

.top {
	background-image: url(../img/5.jpg);
	background-size: 100%;
	transform: rotateX(90deg) translateZ(200px);
}

.bottom {
	background-image: url(../img/6.jpg);
	background-size: 100%;
	transform: rotateX(-90deg) translateZ(200px);
}
